/* Reset des styles par défaut */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    image-rendering:optimizeQuality;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

img{
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  /* Style du formulaire */
form {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #3f3f3f;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: medium;
}

span{
    font-size: 0.8em;
}

span.error{
  color: red;
}
  
  /* Style des champs de saisie */
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 6px;
    border: 1px solid #9c9c9c;
    border-radius: 5px;
}
  
  /* Style du bouton */
button{
    width: 100%;
    background-color: #ecad00;
    color: black;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}

footer{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}