* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    display: flex;
    position: relative;
    justify-content: center;
    color: white;
}
form[name = "addType"]{
    display: block;
    position: relative;
    width: 20em;
    margin: 5em auto;
    border: 1px solid #3f3f3f;
    padding: 10px 10px;
    border-radius: 0.625em;
    font-size: medium;
    background-color: white;
}

span{
    font-size: 0.8em;
    font-style: oblique;
  }
    /* Style des erreurs*/
  span.error{
    color: red;
  }

  input{
    position: relative;
    width: 100%;
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 9px;
    border: 1px solid #9c9c9c;
    border-radius: 5px;
    animation-iteration-count: 7;
  }
  
  @keyframes shake-horizontal {
    0% { transform: translateX(0); }
    100% { transform: translateX(5px);}
  }

table {
    margin-top: 1em;
    display: flexbox;
    position: relative;
    justify-content: center;
    border: 2px solid black;
    border-radius: 0.625em;
    width: 90%; /* Changement de la largeur pour s'adapter à l'écran */
    max-width: 100%; /* Empêcher le dépassement du contenu de la table */
    overflow-x: auto; /* Ajout de la barre de défilement horizontale si nécessaire */
    margin-left: auto; /* Centre l'élément à gauche */
    margin-right: auto; /* Centre l'élément à droite */
    color: white;
}

td, th {
    position: relative;
    padding: 0.5em;
    text-align: center;
}

td[colspan]{
    border-top: 1px solid black;
}

button {
    height: 3em;
    width: 90%; /* Ajustement de la largeur à 100% */
    border: 2px solid black;
    border-radius: 0.625em;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 400ms;
}

button:hover {
    transform: scale(1.05);
}

/* Media queries pour différents points de rupture */

@media screen and (max-width: 768px) {
    table {
        width: 100%; /* Pour les écrans de taille moyenne, la table prend 100% de la largeur */
    }
}
